@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* FIXES OLD iOS issue */
    .sticky {
        position: sticky;
        position: -webkit-sticky;
    }

    /* Set a sensible margin */
    .scroll-margin{
        scroll-margin: 50px 0 0 50px;
    }

    /**
   * Remove the default box-shadow for invalid elements to prevent
   * inputs in Livewire components showing with a
   * red border by default in Firefox.
   *
   * See: https://github.com/laravel-frontend-presets/tall/issues/7
   */
    input:invalid, textarea:invalid, select:invalid {
        box-shadow: none;
    }

    [x-cloak] {
        display: none;
    }
}


@layer components {

}
